<?xml version="1.0" ?>
<!DOCTYPE service-group  SYSTEM 'avahi-service.dtd'>
<service-group>
	<name replace-wildcards="yes">Brother_720 @ %h</name>
	<service>
		<type>_ipp._tcp</type>
		<subtype>_universal._sub._ipp._tcp</subtype>
		<port>631</port>
		<txt-record>txtvers=1</txt-record>
		<txt-record>qtotal=1</txt-record>
		<txt-record>Transparent=T</txt-record>
		<txt-record>URF=DM3</txt-record>
		<txt-record>rp=printers/Brother_720</txt-record>
		<txt-record>note=Brother SmartPro 7200</txt-record>
		<txt-record>product=(Generic PostScript Printer)</txt-record>
		<txt-record>printer-state=3</txt-record>
		<txt-record>printer-type=0x80f04c</txt-record>
		<txt-record>Color=T</txt-record>
		<txt-record>PaperMax=na-letter</txt-record>
		<txt-record>PaperSize=na-letter:8.5x11in,A4:210x297mm,A5:148x210mm,A6:105x148mm,EnvDL:110x220mm</txt-record>
		<txt-record>PaperSize=T</txt-record>
		<txt-record>PaperSizeSupported=na-letter,A4,A5,A6,EnvDL</txt-record>
		<txt-record>pdl=application/octet-stream,application/pdf,application/postscript,application/vnd.cups-raster,image/gif,image/jpeg,image/png,image/tiff,image/urf,text/html,text/plain,application/vnd.adobe-reader-postscript,application/vnd.cups-command</txt-record>
	</service>
</service-group>